@font-face {
  font-family: Plovdiv;
  src: url("assets/fonts/PlovdivDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: Plovdiv;
  font-weight: bold;
  src: url("assets/fonts/PlovdivDisplay-Bold.otf") format("opentype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: Plovdiv, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  height: 100vh;
  height: -webkit-fill-available;

  margin: 0;
  padding: 0;
  #root {
    height: 100%;
    height: -webkit-fill-available;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    font-family: Plovdiv, sans-serif;
  }
}

button {
  background-color: #6b6b6b;
  color: rgba(255, 255, 255, 0.87);

  border: 1px solid #1f1f1f;
  border-radius: 4px;

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

input {
  background-color: #3b3b3b;
  color: rgba(255, 255, 255, 0.87);

  border: 1px solid #808080;
  border-radius: 4px;
}

.share-button {
  display: none;
  position:absolute;
  bottom:10%;
  right:25%;
  z-index:999;
  vertical-align: middle;
  background-color: rgb(218, 3, 56);
}