.share-button {
  position: absolute;
  display: flex;
  bottom: 10%;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  z-index: 999;

  background-color: rgb(218, 3, 56);
  box-shadow: rgb(0, 0, 0) 0px 0px 15px;

  transition: transform 0.2s ease-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
    opacity: 1;
  }
}
