.stats-loading {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;

  font-size: 1.5rem;
  text-align: center;
}

.stats-page {
  padding: var(--stats-padding);
  display: flex;
  place-content: center;

  .story-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;

    &.center {
      object-position: center;
    }
    &.right {
      object-position: right;
    }
    &.left {
      object-position: left;
    }

    &.selfie {
      object-position: 12%;
    }
  }

  .story-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .story {
    position: relative;
    width: 100%;
    height: 100%;

    h1 {
      font-size: 26px;
      margin-top: 4px;
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    ol {
      margin-top: 0px;
      padding-inline-start: 1rem;
    }

    h1,
    p {
      z-index: 100;
    }

    .story-content {
      position: relative;
      padding: 20px;
      width: 100%;
      height: 100%;
      text-align: left;

      display: flex;
      flex-direction: column;
    }

    .accent {
      color: rgb(218, 3, 56);
      font-weight: bold;
    }

    .joro-avatar {
      position: absolute;
      bottom: 0;
      z-index: 0;
      right: 20px;
      height: 40%;
    }
  }

  .share-button {
    position: absolute;
    display: flex;
    bottom: 10%;
    gap: 10px;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    z-index: 999;
    
    background-color: rgb(218, 3, 56);
    box-shadow:rgb(0, 0, 0) 0px 0px 15px;

    transition: transform 0.2s ease-out;

    &:hover,
    &:focus {
      transform: scale(1.05);
      opacity: 1;
    }

    span {
      margin-bottom: 4px;
    }
  }
}
